.body-rtl{

}
#app-navbar-collapse{
    float:left;
    /*direction:rtl*/
}
.navbar-header{
    float:right
}
/*menu in sidebar*/
.menu .list-group{
    direction:rtl;
    padding-right: 0px;
}
.user-card .detail .image{
    float: right;
}
.user-card .detail .info{
    float: right;
    margin-right: 5px;
}
.panel-heading{
    direction: rtl;
}
/*suggested people*/
.list-group-item .col-sm-3{
    float: right;
}
.list-group-item .col-sm-9{
    float: left;
}
/*top bar*/
.navbar-left{
    float: left!important;
    margin-left : -15px;
}
@media (min-width: 768px) {
    .navbar-nav > li {
        float: right;
    }
}
.navbar-nav>li>.dropdown-menu{
    direction: rtl;
    text-align: right;
}
/*Settings*/
.form-group .control-label{
    float: right;
    text-align: left;
}
.panel-body form{
    direction:rtl;
}
.form-group .col-md-6{
    float: right;
}
.form-group .col-md-offset-4{
    margin-right: 33.33333%;
}
.panel-post .info{
    margin-right: 10px;
    direction: rtl;
}
.text-muted{
    direction: rtl;
}
/*comment*/
.panel-post .post-write-comment .media-object{
    margin-left:10px;
}

.panel-post .post-comment {
    direction: rtl;
    float: right;
}
.panel-post .post-comment .comment-info{
    margin-right: 10px;
}
.panel-post .post-comment .comment-info .remove{
    margin-right: 10px;
}

/*work experience*/
u.list-group{
    direction: rtl;
    padding-right: 0;

}